@charset "UTF-8";

.section-2 {
    background-color: white;
    .text {
        width: 100%;
        margin: 0;
        color: black;
        font-size: 1rem;
        white-space: nowrap;
        display: flex;
    }
    p {
    }

    p a {
      color: #149;
    }

    p a:visited {
      color: #888;
    }
}
