html, body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  font-size: 30px;
  color: white;
}

.Vidage__video {
  opacity: .725;
  z-index: 1;
}

h1 {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  left: 40px;
  z-index: 2;
  background: rgba(54, 25, 25, .5);
}
